/* Page */
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td {
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

ul ul {
  list-style: none;
  /* Pivotal: Left-hand navigation */
  /* font-size: 16px; */
  padding-left: 15px;
}

#sub-nav li {
    list-style-image: none;
    list-style-type: none;
}


#sub-nav ul li a {
    border-bottom: 1px solid #999;
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 6px 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.text {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.text-center {
  text-align: center;
}

body {
  font: normal 15px 'freight-sans-pro', sans-serif;
}


.wrap {
  margin: 0 auto;
}

.demo-container {
  padding: 20px;
  float: left;
  width: 260px;
}

.demo-container h4 {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.clear {
  clear: both;
}

.dcjq-count {
  float: right;
}


/* pivotal */
.logo {
padding-top: 4px;
padding-left: 2.2em;
}

.nav-container {
    width: 23.9375em !important;
}

.title-container {
    padding-bottom: .8em;
}


h2, h3, h4, h5, h6 {
    padding-top: .5em;
}
