
body {
  /* Pivotal: Change background-color */
  background-color:#ffffff;
 /* Pivotal: Remove
  max-width: 1340px; */
  margin:0px;
  padding:0 0px 0 0px !important;
  /* Pivotal: Change font */
  font-family: "Source Sans Pro",sans-serif;
  line-height: 1.45;
/*Pivotal: Change font size */
  font-size:1em;
/* Pivotal: Fit content body (including footer) into page.
  Otherwise, overfills the bottom */
  margin-bottom: 80px;
}

/* Pivotal: Add header class */
.header {
    left: 0;
    top: 0;
    width: 100%;
  }
/* end Pivotal: Add*/

/* Pivotal: Add */
.header-links {
    padding-right: 15px;
  }


/* Pivotal: Add footer */
.container {
  background: #fff;
  clear: both;
  margin: 0 auto;
  max-width: 1024px;
}

.header-item, .site-footer-links {
  font-size: 0.8em;
}

.site-footer-links {
  clear: both;
  padding: 1em 30px 4em 30px;
}
.site-footer-links a {
  color: #424242;
}

@media (min-width: 43.75em) {
  .copyright {
    float: left;
  }
}

@media (min-width: 43.75em) {
  .support {
    float: right;
  }
}

/* end Pivotal: Footer */



span.frames{ cursor:pointer; padding:0 5px 0 0; }

a span.navheader_separator,a span.navheader_linktext {
  display:none;
}

/* Pivotal: replace a: pseudo classes */
a:active,
a:hover {
  outline: 0;
}
/* end Pivotal: replace a: pseudo classes */

/* Pivotal: Add cross-reference links */
a, .xref {
    border-bottom: 1px dotted #cddce5;
    color: #2185c5;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}


a span.frames{
/*
 * Patch 18.08.2010 EXM-18336
 * color:navy;
 */
    color:#0000FF; 
    text-decoration:underline;
}
/*
 * Patch 18.08.2010 EXM-18336
 * a:hover{ 
 *    color:red; 
 *    text-decoration:underline;
 * }
 * 
 */

table.nav{
  width:100%;  
  vertical-align:middle;
}

table.nav td + td {
  text-align:right;
  padding:0 0.4em 0 0;
}

/*
 * Patch EXM-23770
 */
 .related-links{
   margin-top:30px;
/* Pivotal: Add */
	margin-left: 20px;
	margin-right: 20px;
}

/* Pivotal: Topic titles */
h1.topictitle1 {
	color: #3C3D42;
    font-family: 'freight-sans-pro',sans-serif;
    margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
    padding: 0;
    text-transform: none;

    font-size: 2.441em;
    line-height: 1.1;
    margin-top: 0;
    font-weight: 600;
}

/* Pivotal: iframe body */
div.body {
    margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
    padding: 0;
}

div.rate_page{float:left; width:400px; margin:40px 0 0 0;}
div.rate_response {color:#555; font-size:0.9em;}
.stars { position:absolute; width:105px; height:16px; left:140px; margin:-15px 0 0px 0;
  background-image:url("../img/dot.png");background-position:0px 1px; 
  background-repeat:no-repeat;overflow:hidden; padding:0; }

ul.stars li{  margin:0; height:20px; width:21px;position:absolute;float:left;list-style-type:none;}
ul.stars li a{ text-decoration:none; position:absolute; overflow:hidden; padding:0; margin:0;}
ul.stars li a:hover, ul.stars li a.show_star {text-decoration:none; background-image:url("../img/star.png"); 
  background-position:0 0px;height:25px; background-repeat:no-repeat;
}
input {margin:14px 0 0 0;}
textarea.text-input{margin:4px 0 0 0; width:225px; height:100px; border:1px solid #ccc;}

a#star1 { width:18px; z-index:6;  }
a#star2 { width:40px; z-index:5; }
a#star3 { width:60px; z-index:4; }
a#star4 { width:80px; z-index:3; }
a#star5 { width:100px; z-index:2; }

div#rate_comment {clear:both; margin:14px 0 0 0;}
div.rate_response {margin:-14px 0 0 0; }
.small {font-size:0.9em;}
.hide {display:none;}
.show {display:block;}

/*----------------------*/
/* Pivotal: Tables. Borrowed from Pivotal CF pages */




table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  margin-top: 1em;
  width: 100%;
}

th {
  padding: 0.3em 0.5em;
  line-height: 1.1;
  padding: 0.8em 0.7rem;
  text-align: left;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

td {
  padding: 0.5em 0.7em;
}


/*----------------
    The footer. 
-----------------*/

div.footer{  
  margin:2em 0.6em 1.5em 0;
  float:right;
  line-height:24px;
  color:#444;
  font-size:0.9em
}
div.footer a{text-decoration:none; color:#444}

.navfooter{
  border-top:1px solid #eee;
  margin:3em 0 0 0; 
  padding:0.4em 0 0 0;
}

ul li {
  line-height:18px;
}

div.footer span.oXygenLogo img{  
  vertical-align:bottom;
  border:0;
}
div.footer span.xmlauthor{
  margin-bottom:14px;
}


#myPassword, #myUserName{
  width:100%;  
}

/*----------------*/
/*The copyright.*/
/*Pivotal: remove
div, td {
font-size: 10pt;
} */

div.copyright{
    font-size:8pt;
    padding-top:1em;
}
#nav_tree div.copyright{
    padding-top:0.2em;
    padding-left:1em;
}


/* The navigation tree classes */
#nav_tree > ul{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin-top: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width:300px;
    padding: 1em;
    font-size:10pt;
}

#content{
    margin-left:1em;
    border-left:2px solid gray;
    padding-left:1em;
}

#nav_tree ul ul{
    margin:0;
    padding:0;
}

#nav_tree form{
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-right:0.5em;
    text-align:right;
}
#nav_tree form input{
    font-size:8pt;
}

#nav_tree li {
    margin-top: 0.2em;
    margin-left: 1em;
    list-style-type:none;
}

/* The links */
#nav_tree a.nav_tree{
    color:black;
    background-color:inherit;
}

/* The selected page. */
#nav_tree li.nav_tree_last_open_book > a{
    background-color: #333399;
    color:white;
    text-decoration:none;
}

#nav_tree li:before{
    display:inline;
    vertical-align:text-bottom;
    padding-top:0.2em;
    padding-right:0.2em;
}


/* Title displayed over the tree area.*/
#nav_tree p.nav_title { 
    font-size: 14pt; 
    font-weight: bold; 
    margin-bottom: 0.5px; 
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#nav_tree p.nav_title a{ 
    text-decoration:none;
    color:black;
    background-color:inherit;
}

/* The path in the document displayed over the content.*/
div.nav_path{
    text-align:right;
}

.redX {
    color:red;
    background-color:inherit;
    font-size:1.2em;
}

.oXygenLogo {
    color:#1166DD;
    background-color:inherit;
    font-weight:bold;
    font-size:1.2em;
}

.highlight { 
    background-color: #FFFF88; 
}
#permalink{
  float: right;
  font-size: xx-small;
  padding: 0px 3px 0px 3px;
  display: none;
}
#printlink{
  float: right;
  font-size: xx-small;
  padding: 0px 3px 0px 3px;
  display: none;
}
div.frames{
  display: inline-block;
}

/* Pivotal: Google Search Box */
table.gsc-search-box td.gsc-input {
    padding:0;
}

div.gsc-control-cse {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}


div.gsc-control-cse td.gsib_a {
    padding-top: 3px;
    padding-bottom: 0px;
}

div.gsc-control-cse input[type="button"] {
    background-color: #007a6c !important;
    color: white;
    padding: 6px 20px 15px;
    font-size: 12px;
    display: inline-block;
    border: 1px solid white;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: -1px;
    border-radius: 0;
}

input.gsc-input {
    margin-bottom: 0;
}

input.gsc-search-button {
    line-height: normal;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}

* Pivitol: Code */
pre span.code, pre.code, pre.example, pre.sourcecode, pre.ec2_sourcecode, span.code, span.path {
    color: #333333;
    font-family: "Courier New",Courier,monospace;
    font-size: small;
}
pre span.code, pre.code, pre.example, pre.sourcecode, pre.ec2_sourcecode, .docSection div.cmdsynopsis {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 5px;
}