table {
width:75%;
font-size: 12pt;
border-collapse: collapse;
}

td {
    padding-top: .1em;
    padding-bottom: .1em;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size: 1.1em;
}

.content a[href^="http"]:after,
.external-link:after {
  content: "";
  font-size: 0.75em;
  padding-left: 0.5em;
}

a.extlink:after {
  content: "\f08e"!important;
  font-size: 0.75em;
  padding-left: 0.5em;


}

.revno {font-size: 8pt;}

a:  {text-decoration:none;border-bottom:0px;}
a:link  {text-decoration:none;border-bottom:0px;}
a:visited {text-decoration:none;border-bottom:0px;}
a:active  {text-decoration:none;border-bottom:0px;}
a:hover {text-decoration:none;border-bottom: 1px dotted #cddce5}



